.btn{
    background-color:  #121212;
    border: 1px solid #34C94B;
    border-radius: 12px;
    padding: 10px 16px;
    cursor: pointer;
    color: #34C94B;
    width:170px;
    height: 47px;
    gap: 10px;
    margin-right: 32px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 27px;
    letter-spacing: 0.25px;
}
