
    .Logo {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative; 
        left: 32px; 
        width: 67px;
        height: 34px;
    }
    
    
