
    .Logo {
        display: flex;
        align-items: center;        
        position: relative; 
        width:67px;
       height: 34px;
       padding: 0px;
       margin-bottom: 20px;
        margin-top:20px;
        Left:32px
       
      

    }
    
    
